node-red/flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"node/#","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":false,"inputs":0,"x":290,"y":40,"wires":[["9e80418881057721","97e5ea38db93c1f1"]]},{"id":"97e5ea38db93c1f1","type":"debug","z":"2c41a2bd.aa36ae","name":"node msg logger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]},{"id":"8ab582829517c187","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"backend mqtt out","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"83eeb4253b250e19","x":710,"y":100,"wires":[]},{"id":"9e80418881057721","type":"function","z":"2c41a2bd.aa36ae","name":"msg transformer","func":"node.log(msg.topic)\nconst index = msg.topic.indexOf(\"device/\");\nif (index !== -1) {\n    msg.topic = msg.topic.slice(index);\n}\nreturn msg;","outputs":1,"noerr":5,"initialize":"","finalize":"","libs":[],"x":480,"y":100,"wires":[["8ab582829517c187"]]},{"id":"49960585248d9060","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"backend mqtt in","topic":"#","qos":"0","datatype":"auto-detect","broker":"a53a0ded3cc21d2c","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":220,"wires":[["b99138bf0890b380"]]},{"id":"b99138bf0890b380","type":"debug","z":"2c41a2bd.aa36ae","name":"backend response msg logger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"1b80a7e8f479ca33","type":"inject","z":"2c41a2bd.aa36ae","name":"reminder test","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"buzzer/buzz","payload":"1234567890","payloadType":"str","x":270,"y":280,"wires":[["57635cc56bf6d92f"]]},{"id":"4e760aaac2100869","type":"inject","z":"2c41a2bd.aa36ae","name":"mqtt test","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"\"hello server\"","payloadType":"str","x":480,"y":160,"wires":[["8ab582829517c187"]]},{"id":"57635cc56bf6d92f","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"node mqtt out","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"29fba84a.b2af58","x":480,"y":280,"wires":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"83eeb4253b250e19","type":"mqtt-broker","name":"","broker":"localhost","port":"1884","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a53a0ded3cc21d2c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1884","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]